html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: #414241;
}

#explanation {
    margin-top: 20px;
    height: 260px;
}

.explanation-panel {
    width: 30%;
    margin: 1%;
    float: left;
}

#questions .question-section-intro {
    background-color: #1EAABD;
    height: 80px;
    width: 100%;
    padding: 15px;
}

#questions .question-section-intro span {
    text-align: center;
    font-size: 1.6em;
    color: #fff
}

#questions .survey-intro {
    background-color: #4B3E4D;
    height: 100px;
    width: 100%;
    padding: 30px;
}

#metadata {
    background-color: #4B3E4D;
}
#metadata label {
    color: #fff;

}


#questions .survey-intro span{
    color: #fff;
    font-size: 2.1em;
}

#questions {
    background-color: #fff;
    height: 100%;
}

.question-small {
    float: left;
    width: 20%;
    margin: 2%;
    padding: 10px;
    border-right: 1px solid #ccc;
}


.question-medium {
    float: left;
    width: 29%;
    margin: 2%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.question-large {
    float: left;
    width: 96%;
    margin: 2%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.basket {
    height: 300px;
    width: 280px;
    background-color: #3b97d3;
    border-radius: 5px;
    position: absolute;
    right: 100px;
    top: 25%;
    color: #fff;
    padding: 10px;
}

.basket-header {
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 37px;
    border-bottom: 1px solid #fff;
}

/*TODO: This ;p*/
.basket-content ul {
    height: 170px;
    overflow: scroll;
    list-style: none;
    -webkit-padding-start: 0px;
}

.basket-content ul li {
    width: 100%;
    padding: 3px 9px;

}

.basket-footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 95%;
    padding-top: 6px;
    padding-bottom: 5px;
}

.white-button {
    background-color: #fff;
    padding: 5px 9px;
    color: #3b97d3;
    cursor: pointer;
    border-radius: 5px;
}

.top-bar {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    color: #414241;
    opacity: .95;
    top: 0;
    vertical-align: middle;
    border-bottom: 1px #ccc solid;
}

.footer-bar {
    background-color: #2980BA;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
}

#footer-decor {
    margin-left: -40px;
    float: left;
}

#footer-buttons {
    float: right;
}

.footer-bar ul {

    list-style: none;
    color: #fff;
}

.footer-bar ul li {
    float: left;
    padding: 10px;
}

.footer-bar ul li:hover {
    border-top: solid 2px #F6F6F6;
    cursor: pointer;
}

.footer-bar ul li a {
    color: #fff;
}

.bg-blue-1 {
    background-color: #3B97D3;
}

.bg-blue-2 {
    background-color: #0092d2;
}

.bg-blue-3 {
    background-color: #0086c0;
}

#logo {
    padding: 10px;
}

#menu ul {
    list-style: none;
    color: #fff;
}

#menu ul li {
    float: left;
    padding: 10px 20px;
    height: 60px;
}

#menu ul li:hover {
    cursor: pointer;
}

.sub-menu {
    width: 500px;
    right: -240px;
    position: absolute;
    top: 60px;
    list-style: none;
}

.sub-menu li {
    list-style: none;
    float: left;
    background-color: #3B97D3;
    color: #fff;
    height: 10px;
    text-align: center;
    border-right: 1px solid white;

}

.sub-menu li:hover {
    list-style: none;
    float: left;
    color: #fff;
    border-bottom: none;
}

a {
    color: #3B97D3;
}

a:hover {
    color: #3B97D3;
    text-decoration: none;
}

a:visited {
    opacity: 0.8;
}

.content {

    margin-top: 60px;
    height: 100%;
    width: 100%;
    min-width: 1300px;
}

.selection-list {
    float: left;
    width: 20.4%;
    margin: 20px;
    height: 50%;
}

.custom-vis {
    float: left;
    width: 74%;
    margin: 20px;
    height: 50%;
}

.parallel-coords {
    /*background-color: #f1f2f1;*/
    height: 50%;
    margin: 0 auto;
}

.event-filter {
    background-color: #2980ba;
    color: #fff;
    height: 44px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.event-filter-field {
    margin-top: 5px;
    background-color: #2980ba;
    border: none;
    color: #fff;
    width: 80%;
    padding-top: 0;
}

.event-filter-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fff;
    opacity: .8;
}

.event-filter-field::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: .8;
}

.event-filter-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: .8;

}

.event-filter-field::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #fff;
    opacity: .8;
}

.search-results {
    height: 400px;
    overflow: scroll;
}

.search-results ul {
    -webkit-padding-start: 5px;
}

.search-results ul li {
    list-style: none;
    padding: 5px;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
}

.search-results-icon {
    font-size: 1em;
    color: #3B97D3;
    padding-top: 6px;
    margin-right: 11px;
    float: right;
    cursor: pointer;
}

.options {
    float: right;
    margin-top: 220px;
    right: 0;
    margin-right: 2px;
    z-index: 1000;

}

.options div {
    margin-bottom: 5px;
}

.select {
    display: inline-block;
    margin-bottom: 10px;
}

[class*="span"] > .select[class*="span"] {
    margin-left: 0;
}

.select[class*="span"] .btn {
    width: 100%;
}

.select.select-block {
    display: block;
    float: none;
    margin-left: -7px;
    width: auto;
}

.select.select-block:before,
.select.select-block:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

.select.select-block:after {
    clear: both;
}

.select.select-block .btn {
    width: 100%;
}

.select .btn {
    width: 220px;
}

.select .btn.btn-hg .filter-option {
    left: 20px;
    right: 40px;
}

.select .btn.btn-hg .caret {
    right: 20px;
}

.select .btn.btn-lg .filter-option {
    left: 18px;
    right: 38px;
}

.select .btn.btn-sm .filter-option {
    left: 13px;
    right: 33px;
}

.select .btn.btn-sm .caret {
    right: 13px;
}

.select .btn.btn-xs .filter-option {
    left: 13px;
    right: 33px;
    top: 5px;
}

.select .btn.btn-xs .caret {
    right: 13px;
}

.select .btn .filter-option {
    height: 26px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    right: 33px;
    text-align: left;

}

.select .btn .caret {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
}

.select .btn .dropdown-toggle {
    border-radius: 6px;
}

.select .btn .dropdown-menu {
    min-width: 100%;
}

.select .btn .dropdown-menu dt {
    cursor: default;
    display: block;
    padding: 3px 20px;
}

.select .btn .dropdown-menu li:not(.disabled) > a:hover small {
    color: rgba(255, 255, 255, 0.004);
}

.select .btn .dropdown-menu li > a {
    min-height: 20px;
}

.select .btn .dropdown-menu li > a.opt {
    padding-left: 35px;
}

.select .btn .dropdown-menu li small {
    padding-left: .5em;
}

.select .btn .dropdown-menu li > dt small {
    font-weight: normal;
}

.select .btn > .disabled,
.select .btn .dropdown-menu li.disabled > a {
    cursor: default;
}

.select .caret {
    border-bottom-color: #ffffff;
}

.dropdown-menu {
    background-color: #f3f4f5;
    border: none;
    display: block;
    margin-top: 8px;
    opacity: 0;
    padding: 0;
    visibility: hidden;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.dropdown-menu.typeahead {
    display: none;
    opacity: 1;
    visibility: visible;
    width: auto;
    margin-top: 5px;
    border: 2px solid #1abc9c;
    padding: 5px 0;
    background-color: #ffffff;
    border-radius: 6px;
}

.dropdown-menu.typeahead li a {
    padding: 6px 14px;
}

.dropdown-menu.typeahead li:first-child a,
.dropdown-menu.typeahead li:last-child a {
    padding: 6px 14px;
    border-radius: 0;
}

.open > .dropdown-menu {
    margin-top: 18px !important;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu li:first-child dt + a {
    border-radius: 0;
}

.dropdown-menu li:first-child > a {
    border-radius: 6px 6px 0 0;
    padding-top: 8px;
}

.dropdown-menu li:last-child > a {
    border-radius: 0 0 6px 6px;
    padding-bottom: 10px;
}

.dropdown-menu li.active > a,
.dropdown-menu li.selected > a,
.dropdown-menu li.active > a.highlighted,
.dropdown-menu li.selected > a.highlighted {
    background: #1abc9c;
    color: #ffffff;
}

.dropdown-menu li.active > a:hover,
.dropdown-menu li.selected > a:hover,
.dropdown-menu li.active > a.highlighted:hover,
.dropdown-menu li.selected > a.highlighted:hover,
.dropdown-menu li.active > a:focus,
.dropdown-menu li.selected > a:focus,
.dropdown-menu li.active > a.highlighted:focus,
.dropdown-menu li.selected > a.highlighted:focus {
    background: #16a085;
    color: #ffffff;
}

.dropdown-menu li > a {
    color: rgba(52, 73, 94, 0.75);
    padding: 6px 15px 8px;
    text-decoration: none;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.dropdown-menu li > a:before,
.dropdown-menu li > a:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */

}

.dropdown-menu li > a:after {
    clear: both;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
    background: #e1e4e7;
    color: inherit;
    outline: none;
}

.dropdown-menu li > a.highlighted {
    background: #c9cfd4;
    color: #ffffff;
}

.dropdown-menu li > a.highlighted:hover,
.dropdown-menu li > a.highlighted:focus {
    background: #bac1c8;
    color: #ffffff;
}

.dropdown-menu li > a:before {
    float: right;
    margin-top: 3px;
}

.dropdown-menu li dt {
    font-weight: 300;
    margin-bottom: 3px;
    margin-top: 12px;
    padding: 0 15px;
}

@media (max-width: 480px) {
    .dropdown-menu {
        border-radius: 0 0 6px 6px !important;
    }
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    margin-bottom: 8px;
}

.dropup .dropdown-arrow,
.navbar-fixed-bottom .dropdown .dropdown-arrow {
    border-bottom: none;
    border-top: 8px outset #f3f4f5;
    bottom: 100%;
    top: auto;
}

.navbar-fixed-bottom .nav > li > ul:before {
    border-bottom: none;
    border-top: 9px outset #34495e;
    bottom: 4px;
    top: auto;
}

.open.dropup > .dropdown-menu {
    margin-bottom: 18px;
}

.open.dropup > .dropdown-arrow {
    margin-bottom: 10px;
}

.open.dropup > .dropdown-arrow.dropdown-arrow-inverse {
    border-top-color: #34495e;
}

.open > .dropdown-arrow {
    margin-top: 9px;
    opacity: 1;
}

.dropdown-arrow {
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #414241 transparent;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 13px;
    top: 100%;
    width: 0;
    z-index: 10;
    -webkit-transform: rotate(360deg);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.dropdown-inverse {
    background-color: #414241;
    color: #f6f6f6;
    padding: 4px 0 6px;
}

.dropdown-inverse li {
    margin: 0 4px -2px;
}

.dropdown-inverse li:first-child > a,
.dropdown-inverse li:last-child > a {
    border-radius: 2px;
    padding-bottom: 7px;
    padding-top: 5px;
}

.dropdown-inverse li:first-child dt + a,
.dropdown-inverse li:last-child dt + a {
    border-radius: 2px;
}

.dropdown-inverse li.active > a,
.dropdown-inverse li.selected > a {
    background: #3B97D3;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.dropdown-inverse li dt {
    padding-left: 11px;
    padding-right: 11px;
}

.dropdown-inverse li .divider {
    margin-left: 11px;
    margin-right: 11px;
}

.dropdown-inverse li > a {
    border-radius: 2px;
    color: #ffffff;
    padding: 5px 11px 7px;
}

.dropdown-inverse li > a:hover,
.dropdown-inverse li > a:active,
.dropdown-inverse li > a:focus {
    background: #3B97D3;
}

.dropdown-inverse li > a.highlighted {
    background: #f6f6f6;
}

.dropdown-inverse li > a.highlighted:hover,
.dropdown-inverse li > a.highlighted:focus {
    background: #f6f6f6;
}

.dropdown-inverse li .divider {
    background-color: #f6f6f6;
    border-bottom-color: #f6f6f6;
}

.dropdown-menu li.active > a:hover, .dropdown-menu li.selected > a:hover, .dropdown-menu li.active > a.highlighted:hover, .dropdown-menu li.selected > a.highlighted:hover, .dropdown-menu li.active > a:focus, .dropdown-menu li.selected > a:focus, .dropdown-menu li.active > a.highlighted:focus, .dropdown-menu li.selected > a.highlighted:focus {
    background: #f6f6f6;
    color: #3B97D3;
}

label {
    font-weight: normal;
}

.events ul {
    /*background-color: #ECF0F1;*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.events li {
    background: #f6f6f6 url(../img/unselected.png) 92% center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
    width: 100%;
    margin-bottom: -10px;
    border-bottom: 1px solid #f1f2f1;
    padding: 10px;
    position: relative;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.events li:hover {
    color: #2980ba;
}

.events li.event-selected {
    color: #2980ba;
}

.events li {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
}

.event-name {
    font-size: 17px;
    margin: 1px 0 3px;
}

.events {
    overflow: scroll;
    height: 90%;
    color: #95A5A6;
    background-color: #f6f6f6;
}

.events li.event-selected {
    background: #f1f2f1 url(../img/selected.png) 92% center no-repeat;
    background-size: 20px 20px;
}

/*Breadcrumbs*/

#breadcrumbs {
    position: absolute;
    margin-top: -36px;
    width: 100%;
    float: left;
}

#breadcrumbs ul {
    list-style: none;
}

#breadcrumbs ul li {
    display: inline;
    height: 40px;
    padding: 15px;
    background-color: #ECF0F1;
    color: #7F8C8D;
    cursor: pointer;
}

#breadcrumbs ul li {
    margin-left: 5px;
}

#breadcrumbs ul li:first-child {
    margin-right: -2px;
}

#breadcrumbs ul li.active {
    background-color: #D35400;
    color: #ECF0F1;
    cursor: default;
}

/*directory stuff*/

.directory-item {
    stroke-width: 5;
    cursor: pointer;
}

/*Cool loading spinner from cssload.net*/

.windows8 {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 300px;
}

.windows8 .wBall {
    position: absolute;
    width: 29px;
    height: 29px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 7.15s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 7.15s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 7.15s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 7.15s infinite;
    transform: rotate(225deg);
    animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #2980BA;
    left: 0px;
    top: 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 1.56s;
    -webkit-animation-delay: 1.56s;
    -ms-animation-delay: 1.56s;
    -o-animation-delay: 1.56s;
    animation-delay: 1.56s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.31s;
    -webkit-animation-delay: 0.31s;
    -ms-animation-delay: 0.31s;
    -o-animation-delay: 0.31s;
    animation-delay: 0.31s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.62s;
    -webkit-animation-delay: 0.62s;
    -ms-animation-delay: 0.62s;
    -o-animation-delay: 0.62s;
    animation-delay: 0.62s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.94s;
    -webkit-animation-delay: 0.94s;
    -ms-animation-delay: 0.94s;
    -o-animation-delay: 0.94s;
    animation-delay: 0.94s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}